@font-face {
    font-family: 'TravelingTypewriter';
    src: url('fonts/TravelingTypewriter.eot');
    src: url('fonts/TravelingTypewriter.eot') format('embedded-opentype'),
         url('fonts/TravelingTypewriter.woff2') format('woff2'),
         url('fonts/TravelingTypewriter.woff') format('woff'),
         url('fonts/TravelingTypewriter.ttf') format('truetype'),
         url('fonts/TravelingTypewriter.svg#TravelingTypewriter') format('svg');
}

@font-face {
    font-family: 'parkwaylush';
    src: url('fonts/parkwaylush.eot');
    src: url('fonts/parkwaylush.eot') format('embedded-opentype'),
         url('fonts/parkwaylush.woff2') format('woff2'),
         url('fonts/parkwaylush.woff') format('woff'),
         url('fonts/parkwaylush.ttf') format('truetype'),
         url('fonts/parkwaylush.svg#parkwaylush') format('svg');
}

@font-face {
    font-family: 'Candal';
    src: url('fonts/Candal.eot');
    src: url('fonts/Candal.eot') format('embedded-opentype'),
         url('fonts/Candal.woff2') format('woff2'),
         url('fonts/Candal.woff') format('woff'),
         url('fonts/Candal.ttf') format('truetype'),
         url('fonts/Candal.svg#Candal') format('svg');
}